<h3>Implementation of template drive</h3>

<div class="container-fluid">
  <h2>School of Computer Science admission form</h2>
  <hr>
  
  <form #schoolform="ngForm">
    <div>
      {{schoolform.value|json}}
      <hr>
      <h4>This is user bound data stored in class</h4>
      {{userdata|json}}
    </div>
    <hr>
    <div class="form-group">
      <label>Name:</label>
      <input type="text" class="form-control" placeholder="Enter your name" name="studname" [ngModel]="userdata.name1">
    </div><hr>
    
    <div>
      <label>Phone Number:</label>
      <input type="text" class="form-control" placeholder="Enter your phone number" name="phone" [ngModel]="userdata.phone1">
    </div><hr>
    <div>
      <label>Email Id:</label>
      <input type="text" class="form-control" placeholder="Enter your email id" name="email" [ngModel]="userdata.email1">
    </div><hr>
    <div ngModelGroup="address">
      <div class="form-group">
        <label>City:</label>
        <input type="text" class="form-control" name="city" ngModel>
      </div>
      <div class="form-group">
        <label>State:</label>
        <input type="text" class="form-control" name="state" ngModel>
      </div>
    </div><hr>
    <div>
      <label>Select school name</label>
      <select name="school" id="school" name="school" [ngModel]="userdata.schoolname1">
        <option value="select school name">select school name</option>
        <option value="school of eng">school of eng</option>
        <option value="school of design">school of design</option>  
        <option value="school of photography">school of photography</option>
      </select>
    </div><hr>
    <div>
      <label>Programme Names:</label><br>
      <input type="radio" id="msc" name="msc" value="M.Sc. CS" >
      <label for="msc">M.Sc. Cs</label><br>
      <input type="radio" id="mca" name="mca" value="MCA" >
      <label for="mca">MCA</label><br>
    </div><hr>
    <div>
      <label>Brochure</label><br>
      <input type="checkbox" id="brochure" name="brochure" value="I want Brochure" [ngModel]="userdata.programme1">
      <label for="brochure"> I want Brochure</label><br>
    </div><hr>
    <div>
      <input type="submit" value="Submit the details" [ngModel]="brochure" >
    </div>
  </form>
</div>


<!--<div class="container-fluid">
  <h3>School of Computer Science admission form</h3>
  <hr>
  
  <form #schoolform="ngForm">
    <div>
      {{schoolform.value|json}}
    </div>
    <hr>
    <div class="form-group">
      <label>Name:</label>
      <input type="text" class="form-control" placeholder="Enter your name" name="studname" ngModel>
    </div><hr>

    <div>
      <label>Phone Number:</label>
      <input type="text" class="form-control" placeholder="Enter your phone number" name="phone" ngModel>
    </div><hr>
    <div>
      <label>Email Id:</label>
      <input type="text" class="form-control" placeholder="Enter your email id" name="email" ngModel>
    </div><hr>
    <div ngModelGroup="address">
      <div class="form-group">
        <label>City:</label>
        <input type="text" class="form-control" name="city" ngModel>
      </div>
      <div class="form-group">
        <label>State:</label>
        <input type="text" class="form-control" name="state" ngModel>
      </div>
    </div><hr>
    <div>
      <label>Select school name</label>
      <select name="school" id="school" name="school" ngModel>
        <option value="select school name">select school name</option>
        <option value="school of eng">school of eng</option>
        <option value="school of design">school of design</option>  
        <option value="school of photography">school of photography</option>
      </select>
    </div><hr>
    <div>
      <label>Programme Names:</label><br>
      <input type="radio" id="msc" name="msc" value="M.Sc. CS" >
      <label for="msc">M.Sc. Cs</label><br>
      <input type="radio" id="mca" name="mca" value="MCA" >
      <label for="mca">MCA</label><br>
    </div><hr>
    <div>
      <label>Brochure</label><br>
      <input type="checkbox" id="brochure" name="brochure" value="I want Brochure" ngModel>
      <label for="brochure"> I want Brochure</label><br>
    </div><hr>
    <div>
      <input type="submit" value="Submit the details" >
    </div>
  </form>
</div>
-->